
canvas {
background: gray url(grass.jpeg) repeat 0 0;
  -webkit-animation: slide 10s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -1024px 0; }
}